* {
    font-family: Quarto A, Quarto B, Georgia, Times;
    margin: 0;
}

body {
    max-width: 900px;
    width: 100%;
    margin: 70px auto;
    background-color: #CBE7D4;
}

h1 {
    margin: 20px 0;
}

nav {
    text-align: right;
    margin: 20px 0;

    &> a {
        margin: 15px;
        text-decoration: none;
        color: #000;
    }

    & .selected {
        font-weight: bold;
        text-decoration: underline;
    }
}
main {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.moodboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
    gap: 15px
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.pinterest-item:hover {
    transform: scale(1.05);
}



.question {
    margin-bottom: 40px;
}

p {
    font-weight: bold;
    color: #333;
}

label {
    margin-left: 20px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="range"],
input[type="submit"],
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="radio"], 
input[type="checkbox"] {
    margin-right: 10px;
}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    margin: 10px 0;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}